
    * {
      margin: 0;
      padding: 0;
    }

    *,
    *::before,
    *::after {
      box-sizing: inherit;
    }

    html {
      box-sizing: border-box;
    }

    body {
      height: 600px;
      position: relative;
      background: hsl(240, 78%, 98%);
      font-family: "Montserrat", sans-serif;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top
    }

.header {
    text-align: center;
    margin-top: 25px;
}
    .firstTitle {
      margin-bottom: 1.5rem;
      color: hsl(233, 13%, 49%);
    }

    .check {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 4rem;
    }

    span {
      color: hsl(234, 14%, 74%);
      font-size: 15px;
    }

    input[type="checkbox"] {
      height: 0;
      visibility: hidden;
      position: relative;
    }

    label {
      position: relative;
      cursor: pointer;
      width: 55px;
      height: 30px;
      background-image: linear-gradient(to right,
          hsl(236, 72%, 79%),
          hsl(237, 63%, 64%));
      display: block;
      border-radius: 15px;
      margin: 0 1.5rem;
    }

    label:after {
      content: "";
      position: absolute;
      top: 3px;
      left: 4px;
      width: 23px;
      height: 23px;
      background: #fff;
      border-radius: 50%;
      transition: 0.3s;
    }


    input:checked+label:after {
      left: calc(100% - 4px);
      transform: translateX(-100%);
    }
    #img1 {
        position: absolute;
        max-height: 50%;
        right: 150px;
        top: 0;
        z-index: -1;

    }

    .pricingContainer {
      display: flex;
      flex-wrap: wrap; 
      text-align: center;
      margin-top: 5rem;
      justify-content: center;
      align-items: center;
    }
  
.card-item {
    padding: 3rem 1.5rem;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    min-width: 280px;
    height: 360px;
    box-shadow: 0px 3px 10px 0px hsl(240, 17%, 93%);
  }

    .card-item-professional {
        display: flex;
        flex-direction: column;
        background-color: hsl(236, 72%, 79%);
        text-align: center;
        min-width: 280px;
        height: 400px;
        border-radius: 10px;
        padding-top: 60px;
        justify-content: space-evenly;
    }
    #Professional,
    #Professional span {
        color: white;
    }
   
    .title {
      color: hsl(233, 13%, 49%);
      font-size: 16px;
      margin-bottom: 1rem;
    }
    #professional {
        color: white;
    }

    .price-card {
      font-size: 3rem;
      color: hsl(232, 13%, 33%);
      margin-bottom: 1rem;
    }

    .price-card span {
      font-size: 1.5rem;
      color: hsl(232, 13%, 33%);
    }

    .what-card {
      margin-bottom: 1.5rem;
    }

    .what-card li {
      list-style: none;
      font-size: 11px;
      color: hsl(233, 13%, 49%);
      border-top: 0.5px solid hsl(240, 17%, 93%);
      padding: 0.75rem;
    }
    .professional-card {
        margin-bottom: 1.5rem;
      }
    .professional-card li{
      list-style: none;
      font-size: 11px;
      color: white;
      border-top: 0.5px solid hsl(240, 17%, 93%);
      padding: 0.75rem;
      margin: 0 25px;
    }

    .what-card li:last-of-type,
    .professional-card li:last-of-type {
      border-bottom: 0.5px solid hsl(240, 17%, 93%);
    }

    .learn-more {
      display: block;
      text-decoration: none;
      padding: 0.75rem 0.5rem;
      background-image: linear-gradient(to right,
          hsl(236, 72%, 79%),
          hsl(237, 63%, 64%));
      border-radius: 3px;
      color: white;
      font-size: 11px;
      text-transform: uppercase;
      transition: all 0.35s ease;
      border: 1px solid transparent;
    }
    .learn-more:hover {
        transition: all 0.35s ease;
        background-color: white;
        color: hsl(236, 72%, 79%);
      }
 .learn-more-professional {
    display: block;
    padding: 0.75rem 0.5rem;
    margin: 0px 20px;
    margin-bottom: 50px;
    transition: all 0.35s ease;
    text-decoration: none;
    border-radius: 3px;
    background-color: white;
    color: hsl(236, 72%, 79%);
    font-size: 11px;
    text-transform: uppercase;
 }

    .learn-more-professional:hover {
        background-color: hsl(237, 63%, 64%);
        color: white;
    }
    #img2 {
        position: absolute;
        max-height: 50%;
        left: 20px;
        bottom: 10px;
        z-index: -1;

    }

    @media screen and (max-width: 375px) {
      body {
        height: auto;
      }

      body::after {
        width: 48%;
        background-size: contain;
        background-position: top;
      }
      #img1 {
          left: 100px;
          top: 0;
      }
      #img2 {
          bottom: 0;
          left: 0;
      }

      .card-pricing {
        flex-direction: column;
      }

      .card-item,
      .card-item-professional {
        margin-bottom: 1.5rem;
      }

      .card-pricing .card-item:nth-of-type(2) {
        transform: scale(1);
      }

      .Pricingcontainer {
        margin: 3rem 0;
      }
    }

    .attribution {
      font-size: 11px;
      text-align: center;
      /* margin-top: 360px; */
      margin-bottom: 20px;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }

